%html
  %body
    %center
      %img{:src => @book.cover.url(:thumb)}
      %h1
        = @book.title
      %h2
        = @book.price
      = link_to "Add to cart", add_to_cart_book_path(@book), :method=>"POST"
